<div
  class="course-item"
  cdkDrag
  (cdkDragReleased)="notifyDragSelection(null)"
  (cdkDragStarted)="notifyDragSelection(course)">
  <span class="d-flex align-items-center text-truncate">
    <span class="category-marker" [style.background-color]="course.category | categoryColor"></span>
    <strong>{{course.id}}</strong>
    <span class="ml-2 text-truncate">{{course.name}}</span>
  </span>
  <span>
    <span
      *ngFor="let placement of course.placement"
      class="placements">
      {{placement.charAt(0)}}
    </span>
    <span class="info-column module mx-1">{{course.module}}</span>
    <span class="info-column points">{{course.points}}</span>
  </span>
</div>
