:host{
  display: block;
}

.info-column{
  display: inline-block;
  text-align: right;
  min-width: 20px;
}

.placements{
  text-transform: capitalize;
  font-weight: bold;
  &:not(:first-child) {
    &:before {
      content: ' ,';
    }
    margin-right: .25rem;
  }
}
