:host{
  display: block;
}

.info-column{
  display: inline-block;
  text-align: right;
}

.points{
  min-width: 3.5ch;
}

.module{
  min-width: 2ch;
}

.placements{
  text-transform: capitalize;
  font-weight: bold;
  &:not(:first-child) {
    &:before {
      content: ' ,';
    }
  }
}
