<app-page-header></app-page-header>
<div class="sticky-top">
  <app-status-bar>
    <div class="d-flex justify-content-end align-items-center">
      <mat-icon>person</mat-icon>
      <div class="ml-2">Jan-Eric Raab</div>
    </div>
  </app-status-bar>
  <div class="bg-white py-2">
    <div class="container">
      <div class="d-flex align-items-center">
        <div>
          <span class="points-total">75</span>
          <span class="points-count">120</span>
        </div>
        <app-donut-chart></app-donut-chart>
      </div>
    </div>
  </div>
</div>
<div class="container" cdkDropListGroup>
  <div class="row">
    <div class="col-md-7 pt-1 mt-2">
      <app-academic-year *ngFor="let group of studyPlan | async" [year]="group" [currentTerm]="currentTerm"></app-academic-year>
    </div>
    <div class="col-md-5">
      <div class="position-sticky" style="top: 248px">
        <div class="pt-1">
          <h1>Bookmarks</h1>
          <app-course-list-view [courses]="bookmarks | async"></app-course-list-view>
        </div>
      </div>
    </div>
  </div>
</div>
