<div class="fixed-top">
  <app-page-header></app-page-header>
  <app-status-bar>
    <div class="d-flex justify-content-end align-items-center">
      <mat-icon>person</mat-icon>
      <div class="ml-2">Jan-Eric Raab</div>
    </div>
  </app-status-bar>
  <div class="bg-white">
    <div class="container" style="top: 132px; height: 50px">
      <div class="col">other stiff</div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 182px;" cdkDropListGroup>
  <div class="row">
    <div class="col-md-7 pt-1 mt-2">
      <app-term-group *ngFor="let group of studyPlan" [group]="group" [currentTerm]="currentTerm"></app-term-group>
<!--      <div class="p-1 mb-3 p-2 bg-accent rounded" *ngFor="let year of studyPlan">-->
<!--        <h1>{{year.year}}</h1>-->
<!--        <mat-expansion-panel class="mt-2" *ngFor="let term of year.terms" [expanded]="term.order >= currentTerm">-->
<!--          <mat-expansion-panel-header>-->
<!--            <mat-panel-title>-->
<!--              Term {{term.order}}-->
<!--            </mat-panel-title>-->
<!--          </mat-expansion-panel-header>-->
<!--          <div-->
<!--            class="course-list"-->
<!--            cdkDropList-->
<!--            [cdkDropListDisabled]="term.order <= currentTerm"-->
<!--            [cdkDropListEnterPredicate]="canDrop"-->
<!--            (cdkDropListDropped)="drop($event)"-->
<!--            [cdkDropListData]="term.courses">-->
<!--            <div class="course-item" *ngFor="let course of term.courses" cdkDrag>-->
<!--              <strong>{{course.id}}</strong>-->
<!--              <span class="ml-2">{{course.name}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-expansion-panel>-->
<!--      </div>-->
    </div>
    <div class="col-md-5">
      <div class="position-sticky" style="top: 182px">
        <div class="pt-1">
          <h1>Bookmarks</h1>
          <div
            class="course-list"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="courses">
            <div class="course-item" *ngFor="let course of courses" cdkDrag>
              <strong>{{course.id}}</strong>
              <span class="ml-2">{{course.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
