@use "variables";
$side-margin: 1rem;

:host{
  display: block;
}

.group-card{
  background-color: lighten(variables.$bg-light, 10%);
  &.active{
    background-color: variables.$bg-light;
    // box-shadow: 0 0 0 1px rgba(0,0,0,.87);
  }
  &:not(.active){
    margin-left: $side-margin;
    margin-right: $side-margin;
  }
}
