@use "variables";

:host{
  display: block;
}

.group-card{
  background-color: lighten(variables.$bg-light, 10%);
  &.active{
    background-color: variables.$bg-light;
    transform: scaleX(1.025);
  }
}
