<table class="course-calendar">
  <thead>
    <tr>
      <th *ngFor="let label of header" class="p-1" >{{label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td class="text-right pr-3">
        <app-timeslot [timeslot]="row.timeSlot"></app-timeslot>
      </td>
      <td *ngFor="let module of row.modules">
        <div class="d-flex h-100" *ngIf="module">
          <div class="h-100 d-flex align-items-start">
            <span class="module-marker small">{{module | module: placement}}</span>
          </div>
          <div class="h-100 w-100 d-flex flex-column align-items-end">
            <span
              *ngFor="let course of courseMap.get(module)"
              [style.background-color]="course.category | categoryColor"
              class="course-badge">{{course.id}}</span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
