@use 'variables';
@use 'colors';

$card-background-color: white;
$cell-background-color: #d0d0d0;
$cell-border-color: $card-background-color;
$cell-border-width: 2px;
$cell-border-radius: 4px;
$cell-empty-color: $card-background-color;
$header-background-color: $card-background-color;
$header-font-color: inherit;
$grid-line-color: $card-background-color;

:host{
  display: block;
}

.course-calendar{
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: $cell-border-width;
  th{
    &:not(:empty){
      color: $header-font-color;
      background: $header-background-color;
    }
  }
  td{
    background-color: $cell-background-color;
  }
  tbody{
    td:first-child{
      border: none;
      background-color: $card-background-color;
    }
    td:empty{
      background: $cell-empty-color;
    }
    td{
      height: 3rem;
      padding: 0;
      border-radius: $cell-border-radius;
      &.valid-target{
        background-color: colors.$valid-target-highlight;
      }
    }
  }
}

.module-marker{
  display: inline-block;
  background-color: white;
  // border-right: 1px solid rgba(0,0,0.87);
  // border-bottom: 1px solid rgba(0,0,0.87);
  border-radius: $cell-border-radius 0 $cell-border-radius 0;
  font-size: 75%;
  min-width: 1.25rem;
  padding: 0 .125rem;
  line-height: 1.6;
  text-align: center;
}

.course-badge{
  user-select: none;
  display: inline-flex;
  align-items: center;
  border-radius: $cell-border-radius;
  background-color: $card-background-color;
  padding: 0 .25rem 0 0;
  margin: .125rem;
  font-size: 80%;
  // background-color: #cccccc;
  &:not(:first-child) {
    margin-top: 0;
  }
  color: $header-font-color;
  font-weight: bold;
}
.course-badge-marker{
  display: inline-block;
  width: variables.$category-marker-width;
  border-radius: $cell-border-radius 0 0 $cell-border-radius;
  height: 100%;
  margin-right: .25rem;
}
